body{
    background-color: #17191A;
}
header{
    /* atributos de caja:  width, height, bgc */
    width: 1100px;
    height: 96px;
    background-color: #090B0B;
}
main{
    width: 1100px;
    height: 600px;
}
footer{
    width: 1100px;
    height: 144px;
    background-color: #090B0B;
}